.Dashboard_ind {
    width: 90%;
    max-width: 935px;
    padding: 30px 10px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 1px 10px 15px #ccc;
    margin: 50px auto;
    box-sizing: border-box;
}
.Dashboard_ind:hover{
    box-shadow: 1px 1px 10px #ccc;    
}

@media (max-width: 1090px){
    .Dashboard_ind {
        min-width: 340px;
    }
}
@media (max-width: 768px)
{
    .Dashboard_ind {
        min-width: inherit;
    }
}
