[Unit]
Description=uWsgi instance of App Factory Blueprint Calendar App.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/cal_app
ExecStart=/usr/bin/uwsgi cal.ini

[Install]
WantedBy=multi-user.target

