{% extends "layout.html" %}
{% block title %}
    {{ title  }}
{% endblock %}
{% include "nav.html" %}
{% block content %}
    <div id="hero-image-title">
        <h1 id="hero-title">{{ title }}</h1>
    </div>


    <div id="posters-wrapper" class="content-padding clearfix">
        {% for row in menu %}
		<div class="poster-consoles">
			<a href="{{ row['console_shortname'] }}">
			<div class="poster-consoles-info-overlay-admin">
				<h3>{{ row['console_shortname'] }}</h3>
				<h4>View more <i class="fa fa-arrow-right"></i></h4>
			</div>
			</a>
		</div>
        {% endfor %}
    </div>
{% endblock %}
{% block footericons %}
    <a href="{{ twitter }}" title="{{ title }} Twitter"><img src = "/public/images/{{ shortname }}/{{ shortname }}_icon.png" alt = "{{ shortname }} logo image" /></a>
{% endblock %}

