{% extends "layout.html" %}
{% block title %}
    {{ title  }}
{% endblock %}
{% include "nav.html" %}
{% block content %}
    <div id="hero-image-title">
        <h1 id="hero-title">{{ title }}</h1>
    </div>
	<div id="posters-wrapper" class="content-padding-body clearfix">
   		{% with messages = get_flashed_messages() %}
       		{% if messages %}
				<div class="alert alert-success">
               		{% for message in messages %}
               			{{ message }}
               		{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		<div id="loading"></div>
		<form name="game_index_form" id="game_index_form" action="no_action" method="post">
		<table class="table table-striped table-bordered">
			<tr>
				<td>
					<button id="previous" name="previous" role="button" class="btn btn-default btn-sm" style="display:none;">Previous</button>
					<input type="hidden" name="pageid" id="pageid" value="{{ pageid }}" />
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
				</td>
				<td colspan="3" style="text-align:center;">
					<input type="text" name="search_game" id="search_game"> 
					<button id="search_game_btn" name="search_game_btn" role="button" class="btn btn-default btn-sm">Search</button>
				</td>
				<td><a href="add_game/" role="button" class="btn btn-default btn-sm">Add</a></td>
				<td><button id="next" name="next" role="button" class="btn btn-default btn-sm">Next</button></td>
			</tr>
			<tr>
				{% for row in data[0] %}
					{% if loop.index < 7 %}
						<td>{{ row }} {{rowloop }}</td>
					{% endif %}
				{% endfor %}
			</tr>
			<tbody id="data_row">
    	    {% for row in data[1] %}
				<tr>
					<td><a href="/games/admin/video_games/{{ row['id'] }}/{{ pageid }}/" role="button" class="btn btn-default btn-sm">Edit</a></td>
					<td>{{ row['name'] }}</td>
					<td><a href="/public/images/{{ console[row['console_id']] }}/small/{{ row['small_image'] }}" data-lightbox="data_{{ loop.index }}" data-title="{{ row['small_image'] }}" class="btn btn-default btn-sm">Small Image</a></td>
					<td><a href="/public/images/{{ console[row['console_id']] }}/large/{{ row['large_image'] }}" data-lightbox="data_{{ loop.index }}" data-title="{{ row['large_image'] }}" class="btn btn-default btn-sm">Large Image</a></td>
					<td>{{ console[row['console_id']] }}</td>
					<td>{% if row['header_image'] != '' %}
							<a href="/public/images/{{ console[row['console_id']] }}/header/{{ row['header_image'] }}" data-lightbox="data_{{ loop.index }}" data-title="{{ row['header_image'] }}" class="btn btn-default btn-sm">Header Image</a>
						{% endif %}
					</td>
				</tr>
        	{% endfor %}
			</tbody>
		</table>
		</form>
    </div>
	<script src="/public/js/game.js"></script>
	<script src="/public/js/admin.js"></script>
	<link rel="stylesheet" href="/public/css/lightbox/lightbox.min.css">
	<script src="/public/js/lightbox/lightbox-plus-jquery.min.js"></script>
{% endblock %}
{% block footericons %}
    <a href="{{ twitter }}" title="{{ title }} Twitter"><img src = "/public/images/{{ shortname }}/{{ shortname }}_icon.png" alt = "{{ shortname }} logo image" /></a>
{% endblock %}
